@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
body {
    font-family: DM sans;
}

#header-principal .superior {
    background-color: #ffffff;
    display: flex;
    height: 84px;
    justify-content: space-between;
    top: 10px;
    align-items: center;
    margin-left: 50px;
}

#header-principal .superior nav a {
    float: inline-start;
    display: inline;
    margin-right: 40px;
    color: #2a9d8f;
    text-decoration: none;
    padding-bottom: 5px;
}

#header-principal .superior .botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: inline-end;
    position: right;
}

#button1 {
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 150px;
    height: 40px;
    left: 1308px;
    top: 25px;
    background: #FFFFFF;
    border: 1px solid #2A9D8F;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    font-family: DM Sans;
    font-size: 16px;
    color: #2A9D8F;
}

#button1:hover {
    opacity: 0.85;
    background: #EE964B;
    color: white;
    cursor: pointer;
}

#button2 {
    justify-content: flex-end;
    width: 150px;
    height: 40px;
    left: 1470px;
    right: 25 px;
    margin-right: 15px;
    font-family: DM Sans;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-size: 16px;
    color: #FFFFFF;
    background: #2A9D8F;
    border-radius: 6px;
}

#button2:hover {
    opacity: 0.85;
    background: #EE964B;
    color: white;
    cursor: pointer;
}

.foto2 {
    padding: 200px 0 0 0;
    width: 230px;
    height: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic .social {
    align-self: center;
    align-content: center;
    margin-bottom: 10;
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: auto;
}

#footer ul a {
    left: 165px;
    top: 1600px;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0 10px;
    list-style: none;
    text-align: center;
    left: 165px;
    align-items: flex-start;
    font-family: DM Sans;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    display: flex;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-line {
    width: 95%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.5);
}

.copyright {
    font-size: 13px;
    color: #aaa;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 30px 0 0 0;
    font-family: DM Sans;
}