@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
p {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

.nav {
    overflow: hidden;
    background-color: #000000;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.nav ul {
    text-align: right;
}

.nav li {
    text-align: center;
    display: inline;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .nav a {
        float: none;
        display: block;
        width: 100%;
    }
}


/*Efecto nav*/

.nav a {
    padding: .5em .8em;
    color: #DCE6E6;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: #EBEBE8;
}

#esteban {
    background-image: url("../media/imagenes/esteban.jpg");
    ;
}


/**/

body {
    background: #FFFFFF;
    height: 100%;
}

.HeroE {
    position: relative;
    height: 100vh;
    display: block;
    background-image: url("../media/image_1.jpg");
}

.HeroE-text {
    position: absolute;
}

.HeroE-text p.text-left {
    color: #D33E3E;
    position: relative;
    padding-top: 25%;
    margin-left: 15%;
    font-family: 'Noto Sans', sans-serif;
    font-family: Noto Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 450;
    line-height: 80px;
    letter-spacing: -0.015em;
    text-align: left;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #D33E3E;
    border-color: #D33E3E;
    margin-left: 15%;
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
}

.Descubre {
    position: absolute;
    display: block;
    background: #FFFFFF;
}

p.text-justify {
    font-size: x-large;
    height: 100;
    line-height: 20px;
    font-style: normal;
    padding-top: 5%;
    padding-left: 10%;
}

.row .col-sm-6 h1 {
    font-size: x-large;
    height: 100;
    line-height: 20px;
    font-style: normal;
    padding-top: 5%;
    padding-left: 10%;
}

.row {
    padding-bottom: 50px;
}

.acercade {
    /*padding: 60px;*/
    text-align: center;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("../media/mountain.mp4");
}

.acercade video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#name {
    background-image: ;
}


/*Columnas con servicios*/

.column {
    float: center;
    background: #FFFFFF;
    width: 25%;
    border: 2px solid#F4f7f7;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.column:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.row {
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
    color: black;
}

.row:after {
    content: "";
    display: table clear: both;
}

@media screen and (max-width: 992px) {
    .column {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*Columnas equipo*/

@media screen and (min-width: 500px) {
    .Equipo {
        display: flex;
    }
    .EquipoM {
        float: center;
        background: #FFFFFF;
        width: 25%;
        border: 2px solid#F4f7f7;
        padding: 10px;
        border-radius: 25px;
        margin-bottom: 15px;
        margin-right: 10px;
        text-align: center;
        display: inline-block;
    }
}

@media screen and (max-width: 992px) {
    .EquipoM {
        width: 70%;
    }
}

.Equipo {
    background-color: #ccc;
    text-align: center;
}

.EquipoM {
    background-color: #FFFFFF;
    margin: 5px;
    border: 2px solid#F4f7f7;
    padding: 10px;
    border-radius: 10px;
    float: center;
}

.dot {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot-guilhe {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: url(../media/imagenes/guilhe.jpg);
}

.dot-esteban {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: url(../media/imagenes/esteban-png.jpg);
}

.dot-jazmin {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: url(../media/imagenes/jazmin.jpg);
}

.dot-paulina {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: url(../media/imagenes/pau.jpg);
}

.dot-joselyn {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background: url(../media/imagenes/joselyn.jpg);
}


/*Contactenos */

.Contactanos h1,
p {
    text-align: center;
}

.column ul li {
    display: block;
    text-align: left;
    padding: 5px;
    /**/
}

.Formulario {
    float: center;
    background: #FFFFFF;
    width: 50%;
    border: 1px solid;
    border-color: #fafafa;
    box-shadow: 5px 10px #fafafa;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    padding-right: 50px;
    display: inline-block;
}

.Contactanos1 {
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
    color: black;
}

.ContactanosInfo {
    float: left;
    background: #FFFFFF;
    width: 35%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.ContactanosInfo ul li {
    display: block;
    text-align: center;
    padding: 5px;
    /**/
}

@media screen and (max-width: 992px) {
    .ContactanosInfo {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .ContactanosInfo {
        width: 100%;
    }
}

.Formulario form {
    margin: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.Formulario form input {
    margin: 5%;
    width: 100%;
    height: 25px;
    border: 2px solid#dedede;
    border-radius: 5px;
}

.Formulario form label {
    float: left;
}

.Formulario form button {
    background-color: #D33E3E;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.Formulario form button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

i {
    color: #D33E3E;
    font-size: 45px;
}

.fa {
    font-size: 20px;
}

ul.social {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.social>li {
    display: inline-block;
}

ul.social>li>a {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 36px;
    background-color: #222222;
    color: #fff;
    margin: 0 3px 3px 0;
}

ul.social>li>a:hover {
    text-decoration: none;
    background-color: #ee7c22;
}