@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
#header-principal {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0 5%;
}

#header-principal .superior {
    align-items: center;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.nav-link {
    color: #2a9d8f;
    text-decoration: none;
    font-size: 20px;
    padding: 0 30px 0 30px;
}

#header-principal .superior {
    height: 70px;
    width: auto;
}

#header-principal .superior nav a:hover {
    color: black;
}

.registro-a:hover {
    opacity: 0.8;
}

#header-principal .superior nav {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0 1em;
}

#nav-izquierdo nav {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.registro-a {
    background: #2A9D8F;
    border: 2px solid #2A9D8F;
    color: white;
    border-radius: 7px;
    text-decoration: none;
    font-size: 20px;
    padding: 3px 30px 3px 30px;
}

@media only screen and (max-width: 768px) {
    .superior,
    #header-principal .superior nav {
        flex-direction: column;
    }
    #nav-izquierdo nav {
        margin-left: 0;
    }
    .registro-a {
        background-color: #4c4f4e;
        border: none;
    }
}

@media screen and (device-width: 360px) and (device-height: 640px) {
    #header-principal .superior nav a {
        font-size: 12px;
    }
    #header-principal .superior {
        padding: 10px;
    }
}