@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
.error-box {
    border: 2px solid #eb4d4b;
    font-family: roboto;
}

p {
    font-size: 30px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header-principal .superior {
    background-color: #ffffff;
    display: flex;
    height: 84px;
    justify-content: space-between;
    top: 10px;
    align-items: center;
    margin-left: 50px;
}

#header-principal .superior nav a {
    font-family: DM Sans;
    float: inline-start;
    display: inline;
    margin-right: 40px;
    color: #2a9d8f;
    text-decoration: none;
    padding-bottom: 5px;
}

#header-principal .superior nav a:hover {
    text-decoration: underline;
}

#header-principal .superior .botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: inline-end;
    position: right;
}

#banner_inicio-container #btn-registro-platillo {
    width: 180px;
    align-self: center;
    height: 60px;
    align-items: center;
    align-content: center;
    margin-bottom: 17px;
    padding: 15px;
    margin-left: 250px;
    /* Rectangle 2 */
    font-family: DM Sans;
    font-size: 15px;
    color: #FFFFFF;
    /* Actionable Item */
    background: #2a9d8f;
    border-radius: 6px;
}

#banner_inicio-container #btn-registro-platillo:hover {
    background: #264653;
}

#header-principal .superior .botones #button2 {
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 150px;
    height: 40px;
    left: 1308px;
    top: 25px;
    background: #2a9d8f;
    /* Actionable Item */
    border: 1px solid #2A9D8F;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    font-family: DM Sans;
    font-size: 16px;
    color: #FFFFFF;
}

#header-principal .superior .botones #button2:hover {
    background: #264653;
}

#header-principal .superior .botones #button1 {
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 150px;
    height: 40px;
    left: 1308px;
    top: 25px;
    background: #FFFFFF;
    /* Actionable Item */
    border: 1px solid #2A9D8F;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    font-family: DM Sans;
    font-size: 16px;
    color: #2A9D8F;
}

#header-principal .superior #button1:hover {
    background: #E9ebee;
}

#banner_inicio-container #btn-insertar-fotos {
    justify-content: flex-end;
    width: 170px;
    height: 40px;
    left: 1470px;
    right: 25 px;
    margin-right: 15px;
    margin-top: 25px;
    /* Rectangle 2 */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-size: 13px;
    color: #FFFFFF;
    /* Actionable Item */
    background: #2a9d8f;
    border-radius: 6px;
}

#banner_inicio-container #btn-insertar-fotos:hover {
    background: #264653;
}

#banner_inicio-container h1 {
    align-content: center;
    width: 1950px;
    top: 150 px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #2A9D8F;
}

#banner_inicio h1 {
    width: 1920px;
    top: 150 px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #2A9D8F;
}

.foto1 {
    padding: 10px;
    margin: 10px;
    border: 0.5px solid black;
    float: left;
    width: 250px;
}

#banner_inicio p {
    width: 1920px;
    /* Body P Large */
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 50px;
    /* or 139% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

#banner_inicio-container h4 {
    font-family: DM Sans;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: normal;
    font-size: 16px;
    /* or 139% */
    letter-spacing: -0.015em;
    color: #000000;
}

#ids {
    width: 300px;
    align-content: center;
    padding-left: 5px;
    height: 40px;
    top: 563px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

#menu {
    width: 300px;
    align-content: center;
    padding-left: 5px;
    height: 40px;
    top: 563px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

#banner_inicio-container {
    /* Rectangle */
    margin-left: 550px;
    width: 750px;
    height: 900px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.5);
}

#banner_inicio-container h2 {
    /* Body P Large */
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* or 139% */
    letter-spacing: -0.025em;
    color: #130c0c;
}

#banner_inicio-container h3 {
    text-align: center;
    align-content: center;
    /* Body P Large */
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 15px;
    margin-top: 70px;
    /* or 139% */
    letter-spacing: -0.015em;
    color: #000000;
}

#banner_inicio-container #txt-nombre-platillo {
    width: 300px;
    align-content: center;
    padding-left: 5px;
    height: 40px;
    top: 563px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

#banner_inicio #img-foto-platillo {
    width: 250px;
    padding-left: 5px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

#output {
    padding: 20px;
    background: #dadada;
}

form {
    margin-top: 10px;
}

select {
    width: 300px;
}

#banner_inicio-container #txt-descripcion-platillo {
    width: 300px;
    align-content: center;
    padding-left: 5px;
    height: 40px;
    top: 563px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFFFFF;
}

#banner_inicio-container #txt-precio {
    width: 300px;
    align-content: center;
    padding-left: 5px;
    height: 40px;
    top: 563px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    background: #FFFFFF;
}

#banner_inicio-container .container3 #btn-registro {
    width: 260px;
    margin-top: 5px;
    height: 40px;
    align-self: center;
    /* Rectangle 2 */
    font-family: DM Sans;
    font-size: 16px;
    color: #FFFFFF;
    /* Actionable Item */
    background: #2A9D8F;
    border-radius: 6px;
}

#banner_inicio-container.container3 #btn-registro:hover {
    background: #264653;
}

.banner_inicio-container .text {
    padding: 3px 3px 3px 3px;
    padding-left: 5px;
    font-size: 25px;
}

.footer {
    background-color: #ffffff;
    color: #4b4c4d;
}

#footer .ul {
    display: flex;
    top: 1900px;
    text-align: center;
    align-self: Center;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

#footer ul a {
    left: 165px;
    top: 1600px;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0 10px;
    list-style: none;
    text-align: center;
    left: 165px;
    align-items: flex-start;
    font-family: DM Sans;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    display: flex;
}

#footer ul a:hover {
    opacity: 0.5;
}

#footer .footer-line {
    /* Rectangle */
    position: absolute;
    align-self: center;
    width: 1520px;
    height: 1px;
    left: 165px;
    background: rgba(0, 0, 0, 0.5);
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    display: flex;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 150px;
    margin-top: 10px;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    top: 1500px;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 0.5;
}

.footer-basic .social {
    align-self: center;
    align-content: center;
    margin-bottom: 10;
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.foto2 {
    align-self: center;
    margin-top: 100px;
    padding: 10px;
    margin-left: 805px;
    width: 230px;
    height: 95px;
    align-self: center;
    align-content: center;
    text-align: center;
}

.footer-basic .copyright {
    align-self: center;
    margin-top: 40px;
    align-content: center;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    font-family: DM Sans;
}

.column {
    float: left;
    padding: 5px;
    margin-left: 15px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 25px;
    background-color: #ffff;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-top: 0px;
    /* or 139% */
    letter-spacing: -0.015em;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .column {
        width: 90%;
        display: block;
        margin-bottom: 20px;
    }
}