@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');
body {
    width: 100%;
}

#banner-restaurante {
    width: 100%;
    height: 300px;
    background-color: gray;
    background-image: url(/media/imagenes/banner-restaurantes.jpg);
    background-size: cover;
    position: relative;
}

#banner-restaurante span {
    display: inline-block;
    position: absolute;
    line-height: 50px;
    color: white;
    text-shadow: 4px 2px #264653, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    stroke: black;
}

#banner-restaurante span:nth-of-type(1) {
    top: 55%;
    left: 3%;
    position: relative;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#banner-restaurante span:nth-of-type(2) {
    top: 55%;
    left: 3%;
    position: relative;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.cards-platillos-grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 6em;
}

.card-platillo {
    display: flex;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 12px 12px 2px 1px #F4D35E;
}

.card-platillo-descripccion {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 200px;
    border-right: 1px solid black;
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
}

.card-platillo-img-div {
    width: 50%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-platillo-img {
    width: 100%;
    margin: auto;
    background-size: contain;
    background-image: url('/media/imagenes/pizza-arugula.jpeg');
    position: absolute;
    background-repeat: space;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}

.cards-container {
    margin: 5em 2em;
    width: 95vw;
}

.card-platillo-nombre {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
}

.card-platillo-descripcion {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.015em;
}

.card-platillo-precio {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.015em;
}

.btn-comprar-platillo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #2A9D8F;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 9px;
    padding: auto;
    margin: 0 0 0 1.5em;
}

.btn-comprar-platillo:hover {
    box-shadow: 5px 5px 20px gray;
}

@media screen and (min-width: 1600px) {
    .cards-platillos-grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 6em;
    }
}